html, body {
  padding: 0; margin: 0;
}

#main {
  position: relative;
  background-color: white;
  top: 70px;
}

header {
  background-color: orange;
  height: 20%;
  z-index: 14;
  display: flex;
}

.headertitle {
  margin: auto;
  text-transform: uppercase;
  color: blue;
  font-family: Arial;
  text-align: center;
}

.headertitle p {
  background-color: yellow;
  padding: 10px;
  color: black;
  font-weight: bold;
  letter-spacing: 2px;
}

pre {
  background-color: aliceblue;
  padding: 10px;
}


footer {
  position: relative;
  bottom: 0;
  background-color: yellow;
  width: 100%;
  font-family: Arial;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
}

.footer {
  flex: 1;
  text-align: center;
}

.footer pre {
  background-color: lightgrey;
  flex: 1;
  padding: 10px;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;

}


h2 {
  text-decoration: underline;
}


.container {
  padding: 0 4% 4% 4%;
}

.container p {
  background-color: rgba(255,255,255,0.4);
}

.container ul {
  margin-top: 20px;
}

/* Static / Auto positioning */

#static {
  background-color: pink;
  margin: 10px;
  padding: 10px;
  height: 100px;
}

#static div:first-child {
  background-color: lightgreen;
  margin-top: 20px;
}

#static div:nth-child(2) {
  background-color: lightyellow;
}

#static div:nth-child(2) span {
  color: red;
  font-weight: bold;
}

/* Relative positioning */

.relative {
  padding: 20px;
  background-color: lightgrey;
}

.relative-element-1, .relative-element-2, .relative-element-3 {
  position: relative;
  width: 200px;
  opacity: 0.5;
  background-color: yellow;
  padding: 10px;
}

.relative-element-1 {
  top: 20px;
}

.relative-element-2 {
  left: 30px;
  top: 5px;
}

.relative-element-3 {
  left: 60px;
  top: -8px;
}

/* Absolute Positioning */

#absolute-parent {
  position: relative;
  background-color: bisque;
  height: 200px;
  padding: 20px;
}

.absolute-element {
  position: absolute;
  font-size: 4em;
  padding: 30px;
  top: 10px;
  left: 100px;
  background-color: rgba(255,255,255,0.2);
}

#absolute p {
  font-size: 20px;
  width: 40%;
}

/* Fixed Positioning */

nav {
  position: fixed;
  top: 0;
  z-index: 10;
  height: 70px;
  width: 100%;
  background-color: green;
  text-align: center;
  color: white;
  font-family: Arial;
  padding: 5px;
}

nav div {
  display: block;
}

nav pre {
  background-color: lightgrey;
  color: black;
  padding: 3px 15px;
  margin: 3px;
  display: inline-block;
}

/* Flex Layout */

#flex {
  display: flex;
  height: 200px;
  justify-content: space-around;
  align-items: stretch;
  background-color: pink;
}

.flex-element {
  flex: 1;
  background-color: cyan;
  text-align: center;
  padding-top: 40px;
  margin: 0 20px;
}

.flex-element pre {
    background-color: transparent;
}

.big {
  flex: 3;
}

/* Grid Layout */

#grid {
    height: 1300px;
}

#grid-parent {
  display: grid;
  height: 50px;
  grid-template-columns: 10% 80% auto;
  grid-column-gap: 10px;
  /*grid-template-columns: repeat(3, auto);*/
  /*grid-template-columns: fit-content(40%), auto;*/
}

#grid-parent div {
  background-color: lightgreen;
  text-align: center;
  padding: 8px
}

#grid-parent-2 {
  display: grid;
  height: 200px;
  grid-template-columns: 10% 20% auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

#grid-parent-2 div {
  background-color: lightpink;
  padding: 8px;
}

#grid-parent-2 div:first-child {
  background-color: red;
  grid-column-start: 2;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 3;
}

#grid-parent-2 div:nth-child(5), #grid-parent-2 div:nth-child(6) {
  background-color: cornflowerblue;
  grid-column-end: span 3;
}

/* Floated Elements */

#floats {
  height: 130px;
  background-color: grey;
}

.floated-element {
  float: left;
  width: 27%;
  background-color: pink;
  margin: 1.5%;
  padding: 1.5%;
  text-align: center;
}

/* Overflow Content*/

#overflow {
  display: flex;
  height: 250px;
}

.overflow {
  flex: 1;
  background-color: lightblue;
  padding: 10px 40px;
  height: 140px;
}

.overflow h3 {
  text-align: center;
}

.overflow pre {
    background-color: antiquewhite;
}

.scroll {
    overflow: scroll;
}

.hidden {
  overflow: hidden;
}

.auto {
  overflow: auto;
}


